a.myskycalltoaction {display:block; width:64px; height:27px; background:url(/myskyPlugin/images/icona-mysky-hd.png) top left no-repeat; text-indent:-9999px; position:absolute;}
a.myskycalltoaction:hover {background-position:bottom left;}

.showmysky a.myskycalltoaction {display:block; width:93px; height:40px; background:url(/myskyPlugin/images/icona-mysky-hd-big.png) top left no-repeat; text-indent:-9999px; position:absolute;}
.showmysky a.myskycalltoaction:hover {background-position:top right;}

.myskyBlock h1 {color:#333; font-size:18px; text-transform:uppercase; font-weight:bold;}
.myskyBlock p {color:#333; font-size:12px; line-height:16px;}
.myskyBlock a.buttonSky {display:block; width:250px; height:26px; background:url(/myskyPlugin/images/buttonSky.png) top left no-repeat; text-indent:-9999px; margin:0px auto;}
.myskyBlock a.buttonSky:hover {background-position:bottom left;}

.myskyBlock .separatore {border-bottom:1px solid #CCC; margin:20px 0px;}